.authors__inner {
    padding-top: 6.5rem;
    padding-bottom: 7rem;
}
.authors__title {
    margin-bottom: 4rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    font-family: 'Anglecia Pro Display';
}
.authors__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 6.5rem;
}
.authors__item {
    width: 250px;
    height: 250px;
    margin-bottom: 15rem;
}
.authors__item-img{
    height: 100%;
}
.authors__item-img img{
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    object-fit: cover;
}
.authors__item-title {
    width: 12.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    font-size: 3rem;
    font-family: 'Anglecia Pro Display';
    text-align: center;
}
.authors .header__title{
    transform: translateY(-80px);
}