.authors__inner {
    padding-top: 6.5rem;
    padding-bottom: 7rem;
}
.authors__title {
    margin-bottom: 4rem;
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    font-family: 'Anglecia Pro Display';
}
.authors__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.5rem;
}
.authors__item {
    width: 320px;
    margin-bottom: 10rem;
}
.authors__item-img{
    height: 100%;
}
.authors__item-img img{
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.authors__item-title {
    width: 12.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    font-family: 'Anglecia Pro Display';
    text-align: center;
}