.education {
    padding-top: 18rem;
    padding-bottom: 22rem;
}
.education__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 4rem;
}
.education__item {
    width: 31%;
}
.education__item-img img{
    margin-bottom: 2.5rem;
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    object-fit: cover;
}
.education__item-button {
    display: block;
    width: 22.7rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 5.6rem;
    text-align: center;
}
.education .header__title{
    transform: translateY(-260px);
}
