@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('../fonts/AngleciaProDisplay-Regular.woff2') format('woff2');

    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('../fonts/AngleciaProDisplay-Regular.woff') format('woff');

    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('../fonts/Anglecia Pro Text SemiBold.woff2') format('woff2');

    font-style: normal;
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: 'Anglecia Pro Text';
    src: url('../fonts/Anglecia Pro Text SemiBold.woff') format('woff');

    font-style: normal;
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: 'Anglecia Pro Display';
    src: url('../fonts/AngleciaProDisplay-Regular.woff2') format('woff2');

    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'AngleciaProDisplay';
    src: url('../fonts/AngleciaProDisplay-Regular.woff') format('woff2');

    font-style: normal;
    font-display: swap;
    font-weight: 400;
}